html, body { overflow-x: hidden; }
.navbar-dark {
    background-color: #333333;
    padding: 0px;
}
.navbar-brand{
    margin-left: 20px;

}
.jumbotron {
    background-color: black;
    padding:0px 0px 0px 0px;
}

.row-content{
    /*padding: 100px;*/
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel{
    width: 100%;
    height: 75vh;
    /* background-attachment: fixed; */
    background-color: blue;
}

/* .img-responsive{
    width: 100px;
    height: 400px;
} */
.navbar-toggler-icon{
    /*color: white;*/
}
.img-fluid{
    width: 100%;    
    height: 75vh;
   
    
}
.img-box{
    width: 400px;
    height: 350px;
    
}
img{
    object-fit: cover;
    
}

body{
    background-color:#00DDff; 
}

.footer {
    color: white;
    background-color: #333333
}
.img-box{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    text-indent: 20px;
}
.card{
    margin-left: 20px;
    margin-right: 20px;
}
#cardContainer{
    margin-left: 6%;
    margin-right: 5%;
    
}
.card-img-top{
    height: 20rem;
}